---
layout: layouts/home.njk
numberOfLatestPostsToShow: 3
---
<h1>Центри гуманітарної допомоги для ВПО в Кривому Розі</h1>
<p>Перелік гуманітарних центрів, громадських організацій, райвиконкомів та інших місць де можна отримати соціальну та гуманітарну допомогу для ВПО в Кривому Розі:</p>

<div class="grid">
	<a class="none-decorate postlist-link" href="https://vpo.wiki/tags/ternivskij-rajon/">
		<div>
				<p>Тернівський район</p>
		</div>
	</a>
	<a class="none-decorate postlist-link" href="https://vpo.wiki/tags/pokrovskij-rajon/">
		<div>
				<p>Покровський район</p>
		</div>
	</a>

	<a class="none-decorate postlist-link" href="https://idp-kr.notion.site/e3c133dc702f4705afa342f52662d63e">
		<div>
		      <p>Саксаганський район</p>
		</div>
	</a>
	<a class="none-decorate postlist-link" href="https://idp-kr.notion.site/d8caeb0976f043cab553186b1241a799">
		<div>
		        <p>Центрально-міський район</p>
		</div>
	</a>
	<a class="none-decorate postlist-link" href="https://idp-kr.notion.site/8756d8c515b5490bb04cd02e6e990a65">
		<div>
		        <p>Металургійний район</p>
		</div>
	</a>
	<a class="none-decorate postlist-link" href="https://idp-kr.notion.site/45a1255b45f64280ac30afacc5772164">
		<div>
		        <p>Довгинцівський район</p>
		</div>
	</a>
	<a class="none-decorate postlist-link" href="https://idp-kr.notion.site/00d328dd8f184e8aad531d3c647adde3">
		<div>
		        <p>Інгулецький район</p>
		</div>
	</a>
</div>


{# {% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %} #}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
