---
data: collections
layout: layouts/home.njk
title: Покровський район. Гуманітарні центри
description: This is a post on My Blog about leveraging agile frameworks.
---

{% set comma = joiner() %}
{% for tag in tags -%}
  {% if tag !== 'Покровський район' %}
    {{ comma() }} <span class="tag">{{ tag }}</span>
  {% endif %}
{%- endfor %}