---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Гуманітарні центри {{ tag }}
  description: Кривий Ріг. {{ tag }}. Гуманітарна допомога для ВПО від Гуманітарних центрів, Благодійних фондів, Громадських організацій та Волонтерських штабів 
permalink: /tags/{{ tag | slugify }}/
---
<h1>Гуманітарні центри {{ tag }}</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>Подивитись центри<a href="/tags/">в інших районах</a>.</p>
