---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Гуманітарні центри {{ tag }}
permalink: /tags/{{ tag | slugify }}/
---
<h1>Гуманітарні центри {{ tag }}</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>Подивитись <a href="/tags/">всі центри</a>.</p>
